<!DOCTYPE html>
<html>
  <head>
    <title>Riderank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
        <div class="logo">
          <h1><%= link_to "Riderank", root_path %></h1>
        </div>

        <div class="nav">
          <% if current_user %>
              <ul>
                <% if current_page?(new_ride_path) %>
                  <li><%= link_to "View stats", rides_path %></li>
                <% else %>
                    <li><%= link_to "Add ride", new_ride_path %></li>
                <% end %>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
          <% else %>
              <ul>
                <li><%= link_to "Log in", login_path %></li>
                <li><%= link_to "Sign up", signup_path %></li>
              </ul>
          <% end %>
        </div>
    </div>

    <section class="container">
      <div class="flash_messages">
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
        <% end -%>
      </div>

      <%= yield %>
    </section>
  </body>
</html>
